<nz-card style="width:300px;">
  <nz-card-meta class="mb-3 mt-3" nzTitle="Change Client Secret" [nzAvatar]="avatarTemplate"></nz-card-meta>

  <div class="card-body">
    <form nz-form [formGroup]="passwordForm">
      <nz-form-item class="d-flex flex-column">
        <div>Password</div>
        <nz-form-control
          [nzSm]="50"
          [nzXs]="50"
          nzHasFeedback
          nzErrorTip="Min 8 characters"
        >
          <nz-input-group
            nzPrefixIcon="lock"
            [nzSuffix]="suffixTemplatePassword"
          >
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Type your password"
              formControlName="password"
              autocomplete="off"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="d-flex flex-column">
        <div>Reset Password</div>
        <nz-form-control
          [nzSm]="30"
          [nzXs]="30"
          nzHasFeedback
          nzErrorTip="Min 8 characters"
        >
          <nz-input-group
            nzPrefixIcon="lock"
            [nzSuffix]="suffixTemplateResetPassword"
          >
            <input
              [type]="resetPasswordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Type your password"
              formControlName="resetPassword"
              autocomplete="off"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mt-5">
        <nz-form-control>
          <button
            nz-button
            class="login-form-button d-block m-auto generalShadow"
            (click)="changePassword()"
          >
            Change
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-card>

<ng-template #avatarTemplate>
  <nz-avatar
    nzSrc="https://images.squarespace-cdn.com/content/v1/5624344ce4b0bca6fa616ddd/1463296874804-U6MQ3T6W9BFO9FS04CDN/ke17ZwdGBToddI8pDm48kECSH_MZ6DiHNoF1J0XholtZw-zPPgdn4jUwVcJE1ZvWHm65NfeYbc0U5OAzL71VaDqqXjS3CfNDSuuf31e0tVE-vhEWWWB7B3vSivv5tWhd5DOiDAOP3p7I9BXQbOsKWT-3CTWZQ124CTRPXn-dnvM/wave_Small3.gif"
  ></nz-avatar>
</ng-template>
<ng-template #suffixTemplatePassword>
  <i
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
  ></i>
</ng-template>

<ng-template #suffixTemplateResetPassword>
  <i
    nz-icon
    [nzType]="resetPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="resetPasswordVisible = !resetPasswordVisible"
  ></i>
</ng-template>
